@inherits UmbracoViewPage
        <!-- about-section -->
        <section class="about-section sec-pad">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-5.png);"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image_block_1">
                            <div class="image-box">
                                <figure class="image image-1"><img src="assets/images/resource/about-1.png" alt=""></figure>
                                <figure class="image image-2"><img src="assets/images/resource/about-2.png" alt=""></figure>
                                <figure class="image image-3"><img src="assets/images/icons/heart-2.png" alt=""></figure>
                                <figure class="image image-4"><img src="assets/images/icons/heart-3.png" alt=""></figure>
                                <figure class="image image-5"><img src="assets/images/icons/imoji-1.png" alt=""></figure>
                                <div class="text">
                                    <h4><i class="icon-donation"></i>We’ve Funded 50k Dollars</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_1">
                            <div class="content-box">
                                <div class="inner">
                                    <div class="sec-title">
                                        <span class="top-text">About Pure Hearts</span>
                                        <h2>Here to Bring People Together <br />to Help</h2>
                                    </div>
                                    <div class="text">
                                        <p>The majority have suffered alteration all injected humours randomises.</p>
                                        <p>There are many variations of passages of lorem ipsum available, but the majority have suffered alteration all form injected humours randomises don't look even slightly belvable.</p>
                                    </div>
                                    <div class="btn-box">
                                        <a href="about.html" class="theme-btn btn-one">Read More</a>
                                    </div>
                                </div>
                                <div class="funfact-inner">
                                    <div class="counter-block-one wow fadeInRight animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                        <div class="inner-box">
                                            <div class="icon-box"><i class="icon-charity"></i></div>
                                            <div class="count-outer count-box">
                                                <span class="count-text" data-speed="1500" data-stop="278">0</span>
                                            </div>
                                            <h4>Volunteers</h4>
                                        </div>
                                    </div>
                                    <div class="counter-block-one wow fadeInRight animated animated" data-wow-delay="100ms" data-wow-duration="1500ms">
                                        <div class="inner-box">
                                            <div class="icon-box"><i class="icon-donation-1"></i></div>
                                            <div class="count-outer count-box">
                                                <span class="count-text" data-speed="1500" data-stop="6.5">0</span><span>k</span>
                                            </div>
                                            <h4>Beneficiaries</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-section end -->