@inherits UmbracoViewPage
        <!-- banner-section -->
        <section class="banner-section">
            <div class="banner-carousel">
                <div class="swiper-container banner-content">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="image-layer" style="background-image: url(assets/images/banner/banner-1.jpg);"></div>
                            <div class="auto-container">
                                <div class="content-box">
                                    <h2>Donate</h2>
                                    <span>Even it is a small one</span>
                                    <h2>it can bring bigger</h2>
                                    <p>Charity is a continuous process toward success and <br />happiness Let’s help them now.</p>
                                    <div class="btn-box">
                                        <a href="index.html" class="banner-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="othre-text centred">
                                <span class="animation_text_word"></span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-layer" style="background-image: url(assets/images/banner/banner-2.jpg);"></div>
                            <div class="auto-container">
                                <div class="content-box">
                                    <h2>Happiness</h2>
                                    <span>Is not something ready made</span>
                                    <h2>It’s Comes from Help</h2>
                                    <p>Alone, we don’t make much of a difference, but together, we are <br />strong to face any problem.</p>
                                    <div class="btn-box">
                                        <a href="index.html" class="banner-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="othre-text centred">
                                <span class="animation_text_word"></span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-layer" style="background-image: url(assets/images/banner/banner-3.jpg);"></div>
                            <div class="auto-container">
                                <div class="content-box">
                                    <h2>Help Today</h2>
                                    <span>Because tomorrow you may be</span>
                                    <h2>Needs somenone help</h2>
                                    <p>Only when the society comes together and contributes ,we will be <br />able to make an impact.</p>
                                    <div class="btn-box">
                                        <a href="index.html" class="banner-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="othre-text centred">
                                <span class="animation_text_word"></span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-nav-button">
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"><i class="far fa-arrow-right"></i></div>
                        <div class="swiper-button-prev"><i class="far fa-arrow-left"></i></div>
                    </div>                    
                </div>
            </div>
            <div class="banner-thumbs-carousel">
                <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-10.png);"></div>
                <div class="swiper-container banner-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="single-item">
                                <div class="icon-box">
                                    <div class="icon"><i class="icon-childrens-book"></i></div>
                                    <span>01</span>
                                </div>
                                <div class="text">
                                    <span class="top-text">Donate to</span>
                                    <h3>Education & <br />Food for Childrens</h3>
                                    <a href="index.html">More Details</a>
                                </div>
                                <figure class="image-box"><img src="assets/images/banner/banner-img-1.png" alt=""></figure>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-item">
                                <div class="icon-box">
                                    <div class="icon"><i class="icon-first-aid-kit"></i></div>
                                    <span>02</span>
                                </div>
                                <div class="text">
                                    <span class="top-text">Donate to</span>
                                    <h3>Surgery <br />& Treatments</h3>
                                    <a href="index.html">More Details</a>
                                </div>
                                <figure class="image-box"><img src="assets/images/banner/banner-img-2.png" alt=""></figure>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-item">
                                <div class="icon-box">
                                    <div class="icon"><i class="icon-save"></i></div>
                                    <span>03</span>
                                </div>
                                <div class="text">
                                    <span class="top-text">Donate to</span>
                                    <h3>Environmetal <br />Protection</h3>
                                    <a href="index.html">More Details</a>
                                </div>
                                <figure class="image-box"><img src="assets/images/banner/banner-img-3.png" alt=""></figure>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-nav-button">
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"><i class="fas fa-arrow-left"></i></div>
                        <div class="swiper-button-prev"><i class="fas fa-arrow-right"></i></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner-section end -->