@inherits UmbracoViewPage
        <!-- case-section -->
        <section class="case-section">
            <div class="auto-container">
                <div class="tabs-box">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-12 col-sm-12 title-column">
                            <div class="title-inner text-right">
                                <div class="sec-title">
                                    <span class="top-text">Our Global Causes</span>
                                    <h2>Spread Joy with a Donation</h2>
                                </div>
                                <div class="tab-btn-box">
                                    <ul class="tab-btns tab-buttons clearfix">
                                        <li class="tab-btn active-btn" data-tab="#tab-1">
                                            <h5>All Categories</h5>
                                            <div class="icon"><i class="fal fa-angle-left"></i></div>
                                        </li>
                                        <li class="tab-btn" data-tab="#tab-2">
                                            <h5>Education</h5>
                                            <div class="icon"><i class="fal fa-angle-left"></i></div>
                                        </li>
                                        <li class="tab-btn" data-tab="#tab-3">
                                            <h5>Health & Food</h5>
                                            <div class="icon"><i class="fal fa-angle-left"></i></div>
                                        </li>
                                        <li class="tab-btn" data-tab="#tab-4">
                                            <h5>Hunger & Nutrition</h5>
                                            <div class="icon"><i class="fal fa-angle-left"></i></div>
                                        </li>
                                        <li class="tab-btn" data-tab="#tab-5">
                                            <h5>Treatment</h5>
                                            <div class="icon"><i class="fal fa-angle-left"></i></div>
                                        </li>
                                        <li class="tab-btn" data-tab="#tab-6">
                                            <h5>Water & Environment</h5>
                                            <div class="icon"><i class="fal fa-angle-left"></i></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 inner-column">
                            <div class="tabs-content">
                                <div class="tab active-tab" id="tab-1">
                                    <div class="three-item-carousel owl-carousel owl-theme owl-dots-none">
                                        <div class="case-block-one">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="assets/images/case/case-1.jpg" alt=""></figure>
                                                <div class="lower-content">
                                                    <div class="shape" style="background-image: url(assets/images/shape/shape-11.png);"></div>
                                                    <div class="donate-amount clearfix">
                                                        <div class="amount-box">
                                                            <div class="icon-box"><i class="fas fa-dollar-sign"></i></div>
                                                            <h5>Charity Raised</h5>
                                                            <div class="price">$42,000 <span>/ $80,000</span></div>
                                                        </div>
                                                        <div class="percentage-box">
                                                            <div class="bar">
                                                                <div class="bar-inner count-bar" data-percent="53%"></div>
                                                            </div>
                                                            <div class="count-text">53%</div>
                                                        </div>
                                                    </div>
                                                    <div class="inner">
                                                        <div class="text">
                                                            <div class="category"><a href="donation-details.html"># Health & Food</a></div>
                                                            <h3><a href="donation-details.html">Potable Water for Villages In Mozambique</a></h3>
                                                            <p>Indignation and dislike men who are like most beguiled demoralized.</p>
                                                        </div>
                                                        <ul class="info-box clearfix">
                                                            <li>
                                                                <i class="far fa-calendar-alt"></i>
                                                                <h5>Days</h5>
                                                                <p>28 Days Left</p>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-users"></i>
                                                                <h5>40+</h5>
                                                                <p>Suppoters</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="case-block-one">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="assets/images/case/case-2.jpg" alt=""></figure>
                                                <div class="lower-content">
                                                    <div class="shape" style="background-image: url(assets/images/shape/shape-11.png);"></div>
                                                    <div class="donate-amount clearfix">
                                                        <div class="amount-box">
                                                            <div class="icon-box"><i class="fas fa-dollar-sign"></i></div>
                                                            <h5>Charity Raised</h5>
                                                            <div class="price">$15,000 <span>/ $65,000</span></div>
                                                        </div>
                                                        <div class="percentage-box">
                                                            <div class="bar">
                                                                <div class="bar-inner count-bar" data-percent="24%"></div>
                                                            </div>
                                                            <div class="count-text">24%</div>
                                                        </div>
                                                    </div>
                                                    <div class="inner">
                                                        <div class="text">
                                                            <div class="category"><a href="donation-details.html"># Hunger & Nutrition</a></div>
                                                            <h3><a href="donation-details.html">Feed Nutritious Meals to a Poor Rural Child</a></h3>
                                                            <p>Blinded by desire that they cannot foresee the pain and trouble bound too.</p>
                                                        </div>
                                                        <ul class="info-box clearfix">
                                                            <li>
                                                                <i class="far fa-calendar-alt"></i>
                                                                <h5>Days</h5>
                                                                <p>45 Days Left</p>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-users"></i>
                                                                <h5>08+</h5>
                                                                <p>Suppoters</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="case-block-one">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="assets/images/case/case-3.jpg" alt=""></figure>
                                                <div class="lower-content">
                                                    <div class="shape" style="background-image: url(assets/images/shape/shape-11.png);"></div>
                                                    <div class="donate-amount clearfix">
                                                        <div class="amount-box">
                                                            <div class="icon-box"><i class="fas fa-dollar-sign"></i></div>
                                                            <h5>Charity Raised</h5>
                                                            <div class="price">$38,000 <span>/ $50,000</span></div>
                                                        </div>
                                                        <div class="percentage-box">
                                                            <div class="bar">
                                                                <div class="bar-inner count-bar" data-percent="76%"></div>
                                                            </div>
                                                            <div class="count-text">76%</div>
                                                        </div>
                                                    </div>
                                                    <div class="inner">
                                                        <div class="text">
                                                            <div class="category"><a href="donation-details.html"># Treatment</a></div>
                                                            <h3><a href="donation-details.html">Help Differently Abled Person to Feel Confident</a></h3>
                                                            <p>Equal blame belongs to those who fail in their duty through weakness.</p>
                                                        </div>
                                                        <ul class="info-box clearfix">
                                                            <li>
                                                                <i class="far fa-calendar-alt"></i>
                                                                <h5>Days</h5>
                                                                <p>60 Days Left</p>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-users"></i>
                                                                <h5>67+</h5>
                                                                <p>Suppoters</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab" id="tab-2">
                                    <div class="three-item-carousel owl-carousel owl-theme owl-dots-none">
                                        <div class="case-block-one">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="assets/images/case/case-1.jpg" alt=""></figure>
                                                <div class="lower-content">
                                                    <div class="shape" style="background-image: url(assets/images/shape/shape-11.png);"></div>
                                                    <div class="donate-amount clearfix">
                                                        <div class="amount-box">
                                                            <div class="icon-box"><i class="fas fa-dollar-sign"></i></div>
                                                            <h5>Charity Raised</h5>
                                                            <div class="price">$42,000 <span>/ $80,000</span></div>
                                                        </div>
                                                        <div class="percentage-box">
                                                            <div class="bar">
                                                                <div class="bar-inner count-bar" data-percent="53%"></div>
                                                            </div>
                                                            <div class="count-text">53%</div>
                                                        </div>
                                                    </div>
                                                    <div class="inner">
                                                        <div class="text">
                                                            <div class="category"><a href="donation-details.html"># Education</a></div>
                                                            <h3><a href="donation-details.html">Potable Water for Villages In Mozambique</a></h3>
                                                            <p>Indignation and dislike men who are like most beguiled demoralized.</p>
                                                        </div>
                                                        <ul class="info-box clearfix">
                                                            <li>
                                                                <i class="far fa-calendar-alt"></i>
                                                                <h5>Days</h5>
                                                                <p>28 Days Left</p>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-users"></i>
                                                                <h5>40+</h5>
                                                                <p>Suppoters</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="case-block-one">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="assets/images/case/case-2.jpg" alt=""></figure>
                                                <div class="lower-content">
                                                    <div class="shape" style="background-image: url(assets/images/shape/shape-11.png);"></div>
                                                    <div class="donate-amount clearfix">
                                                        <div class="amount-box">
                                                            <div class="icon-box"><i class="fas fa-dollar-sign"></i></div>
                                                            <h5>Charity Raised</h5>
                                                            <div class="price">$15,000 <span>/ $65,000</span></div>
                                                        </div>
                                                        <div class="percentage-box">
                                                            <div class="bar">
                                                                <div class="bar-inner count-bar" data-percent="24%"></div>
                                                            </div>
                                                            <div class="count-text">24%</div>
                                                        </div>
                                                    </div>
                                                    <div class="inner">
                                                        <div class="text">
                                                            <div class="category"><a href="donation-details.html"># Education</a></div>
                                                            <h3><a href="donation-details.html">Feed Nutritious Meals to a Poor Rural Child</a></h3>
                                                            <p>Blinded by desire that they cannot foresee the pain and trouble bound too.</p>
                                                        </div>
                                                        <ul class="info-box clearfix">
                                                            <li>
                                                                <i class="far fa-calendar-alt"></i>
                                                                <h5>Days</h5>
                                                                <p>45 Days Left</p>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-users"></i>
                                                                <h5>08+</h5>
                                                                <p>Suppoters</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="case-block-one">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="assets/images/case/case-3.jpg" alt=""></figure>
                                                <div class="lower-content">
                                                    <div class="shape" style="background-image: url(assets/images/shape/shape-11.png);"></div>
                                                    <div class="donate-amount clearfix">
                                                        <div class="amount-box">
                                                            <div class="icon-box"><i class="fas fa-dollar-sign"></i></div>
                                                            <h5>Charity Raised</h5>
                                                            <div class="price">$38,000 <span>/ $50,000</span></div>
                                                        </div>
                                                        <div class="percentage-box">
                                                            <div class="bar">
                                                                <div class="bar-inner count-bar" data-percent="76%"></div>
                                                            </div>
                                                            <div class="count-text">76%</div>
                                                        </div>
                                                    </div>
                                                    <div class="inner">
                                                        <div class="text">
                                                            <div class="category"><a href="donation-details.html"># Education</a></div>
                                                            <h3><a href="donation-details.html">Help Differently Abled Person to Feel Confident</a></h3>
                                                            <p>Equal blame belongs to those who fail in their duty through weakness.</p>
                                                        </div>
                                                        <ul class="info-box clearfix">
                                                            <li>
                                                                <i class="far fa-calendar-alt"></i>
                                                                <h5>Days</h5>
                                                                <p>60 Days Left</p>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-users"></i>
                                                                <h5>67+</h5>
                                                                <p>Suppoters</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab" id="tab-3">
                                    <div class="three-item-carousel owl-carousel owl-theme owl-dots-none">
                                        <div class="case-block-one">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="assets/images/case/case-1.jpg" alt=""></figure>
                                                <div class="lower-content">
                                                    <div class="shape" style="background-image: url(assets/images/shape/shape-11.png);"></div>
                                                    <div class="donate-amount clearfix">
                                                        <div class="amount-box">
                                                            <div class="icon-box"><i class="fas fa-dollar-sign"></i></div>
                                                            <h5>Charity Raised</h5>
                                                            <div class="price">$42,000 <span>/ $80,000</span></div>
                                                        </div>
                                                        <div class="percentage-box">
                                                            <div class="bar">
                                                                <div class="bar-inner count-bar" data-percent="53%"></div>
                                                            </div>
                                                            <div class="count-text">53%</div>
                                                        </div>
                                                    </div>
                                                    <div class="inner">
                                                        <div class="text">
                                                            <div class="category"><a href="donation-details.html"># Health & Food</a></div>
                                                            <h3><a href="donation-details.html">Potable Water for Villages In Mozambique</a></h3>
                                                            <p>Indignation and dislike men who are like most beguiled demoralized.</p>
                                                        </div>
                                                        <ul class="info-box clearfix">
                                                            <li>
                                                                <i class="far fa-calendar-alt"></i>
                                                                <h5>Days</h5>
                                                                <p>28 Days Left</p>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-users"></i>
                                                                <h5>40+</h5>
                                                                <p>Suppoters</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="case-block-one">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="assets/images/case/case-2.jpg" alt=""></figure>
                                                <div class="lower-content">
                                                    <div class="shape" style="background-image: url(assets/images/shape/shape-11.png);"></div>
                                                    <div class="donate-amount clearfix">
                                                        <div class="amount-box">
                                                            <div class="icon-box"><i class="fas fa-dollar-sign"></i></div>
                                                            <h5>Charity Raised</h5>
                                                            <div class="price">$15,000 <span>/ $65,000</span></div>
                                                        </div>
                                                        <div class="percentage-box">
                                                            <div class="bar">
                                                                <div class="bar-inner count-bar" data-percent="24%"></div>
                                                            </div>
                                                            <div class="count-text">24%</div>
                                                        </div>
                                                    </div>
                                                    <div class="inner">
                                                        <div class="text">
                                                            <div class="category"><a href="donation-details.html"># Health & Food</a></div>
                                                            <h3><a href="donation-details.html">Feed Nutritious Meals to a Poor Rural Child</a></h3>
                                                            <p>Blinded by desire that they cannot foresee the pain and trouble bound too.</p>
                                                        </div>
                                                        <ul class="info-box clearfix">
                                                            <li>
                                                                <i class="far fa-calendar-alt"></i>
                                                                <h5>Days</h5>
                                                                <p>45 Days Left</p>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-users"></i>
                                                                <h5>08+</h5>
                                                                <p>Suppoters</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="case-block-one">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="assets/images/case/case-3.jpg" alt=""></figure>
                                                <div class="lower-content">
                                                    <div class="shape" style="background-image: url(assets/images/shape/shape-11.png);"></div>
                                                    <div class="donate-amount clearfix">
                                                        <div class="amount-box">
                                                            <div class="icon-box"><i class="fas fa-dollar-sign"></i></div>
                                                            <h5>Charity Raised</h5>
                                                            <div class="price">$38,000 <span>/ $50,000</span></div>
                                                        </div>
                                                        <div class="percentage-box">
                                                            <div class="bar">
                                                                <div class="bar-inner count-bar" data-percent="76%"></div>
                                                            </div>
                                                            <div class="count-text">76%</div>
                                                        </div>
                                                    </div>
                                                    <div class="inner">
                                                        <div class="text">
                                                            <div class="category"><a href="donation-details.html"># Health & Food</a></div>
                                                            <h3><a href="donation-details.html">Help Differently Abled Person to Feel Confident</a></h3>
                                                            <p>Equal blame belongs to those who fail in their duty through weakness.</p>
                                                        </div>
                                                        <ul class="info-box clearfix">
                                                            <li>
                                                                <i class="far fa-calendar-alt"></i>
                                                                <h5>Days</h5>
                                                                <p>60 Days Left</p>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-users"></i>
                                                                <h5>67+</h5>
                                                                <p>Suppoters</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab" id="tab-4">
                                    <div class="three-item-carousel owl-carousel owl-theme owl-dots-none">
                                        <div class="case-block-one">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="assets/images/case/case-1.jpg" alt=""></figure>
                                                <div class="lower-content">
                                                    <div class="shape" style="background-image: url(assets/images/shape/shape-11.png);"></div>
                                                    <div class="donate-amount clearfix">
                                                        <div class="amount-box">
                                                            <div class="icon-box"><i class="fas fa-dollar-sign"></i></div>
                                                            <h5>Charity Raised</h5>
                                                            <div class="price">$42,000 <span>/ $80,000</span></div>
                                                        </div>
                                                        <div class="percentage-box">
                                                            <div class="bar">
                                                                <div class="bar-inner count-bar" data-percent="53%"></div>
                                                            </div>
                                                            <div class="count-text">53%</div>
                                                        </div>
                                                    </div>
                                                    <div class="inner">
                                                        <div class="text">
                                                            <div class="category"><a href="donation-details.html"># Hunger & Nutrition</a></div>
                                                            <h3><a href="donation-details.html">Potable Water for Villages In Mozambique</a></h3>
                                                            <p>Indignation and dislike men who are like most beguiled demoralized.</p>
                                                        </div>
                                                        <ul class="info-box clearfix">
                                                            <li>
                                                                <i class="far fa-calendar-alt"></i>
                                                                <h5>Days</h5>
                                                                <p>28 Days Left</p>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-users"></i>
                                                                <h5>40+</h5>
                                                                <p>Suppoters</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="case-block-one">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="assets/images/case/case-2.jpg" alt=""></figure>
                                                <div class="lower-content">
                                                    <div class="shape" style="background-image: url(assets/images/shape/shape-11.png);"></div>
                                                    <div class="donate-amount clearfix">
                                                        <div class="amount-box">
                                                            <div class="icon-box"><i class="fas fa-dollar-sign"></i></div>
                                                            <h5>Charity Raised</h5>
                                                            <div class="price">$15,000 <span>/ $65,000</span></div>
                                                        </div>
                                                        <div class="percentage-box">
                                                            <div class="bar">
                                                                <div class="bar-inner count-bar" data-percent="24%"></div>
                                                            </div>
                                                            <div class="count-text">24%</div>
                                                        </div>
                                                    </div>
                                                    <div class="inner">
                                                        <div class="text">
                                                            <div class="category"><a href="donation-details.html"># Hunger & Nutrition</a></div>
                                                            <h3><a href="donation-details.html">Feed Nutritious Meals to a Poor Rural Child</a></h3>
                                                            <p>Blinded by desire that they cannot foresee the pain and trouble bound too.</p>
                                                        </div>
                                                        <ul class="info-box clearfix">
                                                            <li>
                                                                <i class="far fa-calendar-alt"></i>
                                                                <h5>Days</h5>
                                                                <p>45 Days Left</p>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-users"></i>
                                                                <h5>08+</h5>
                                                                <p>Suppoters</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="case-block-one">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="assets/images/case/case-3.jpg" alt=""></figure>
                                                <div class="lower-content">
                                                    <div class="shape" style="background-image: url(assets/images/shape/shape-11.png);"></div>
                                                    <div class="donate-amount clearfix">
                                                        <div class="amount-box">
                                                            <div class="icon-box"><i class="fas fa-dollar-sign"></i></div>
                                                            <h5>Charity Raised</h5>
                                                            <div class="price">$38,000 <span>/ $50,000</span></div>
                                                        </div>
                                                        <div class="percentage-box">
                                                            <div class="bar">
                                                                <div class="bar-inner count-bar" data-percent="76%"></div>
                                                            </div>
                                                            <div class="count-text">76%</div>
                                                        </div>
                                                    </div>
                                                    <div class="inner">
                                                        <div class="text">
                                                            <div class="category"><a href="donation-details.html"># Hunger & Nutrition</a></div>
                                                            <h3><a href="donation-details.html">Help Differently Abled Person to Feel Confident</a></h3>
                                                            <p>Equal blame belongs to those who fail in their duty through weakness.</p>
                                                        </div>
                                                        <ul class="info-box clearfix">
                                                            <li>
                                                                <i class="far fa-calendar-alt"></i>
                                                                <h5>Days</h5>
                                                                <p>60 Days Left</p>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-users"></i>
                                                                <h5>67+</h5>
                                                                <p>Suppoters</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab" id="tab-5">
                                    <div class="three-item-carousel owl-carousel owl-theme owl-dots-none">
                                        <div class="case-block-one">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="assets/images/case/case-1.jpg" alt=""></figure>
                                                <div class="lower-content">
                                                    <div class="shape" style="background-image: url(assets/images/shape/shape-11.png);"></div>
                                                    <div class="donate-amount clearfix">
                                                        <div class="amount-box">
                                                            <div class="icon-box"><i class="fas fa-dollar-sign"></i></div>
                                                            <h5>Charity Raised</h5>
                                                            <div class="price">$42,000 <span>/ $80,000</span></div>
                                                        </div>
                                                        <div class="percentage-box">
                                                            <div class="bar">
                                                                <div class="bar-inner count-bar" data-percent="53%"></div>
                                                            </div>
                                                            <div class="count-text">53%</div>
                                                        </div>
                                                    </div>
                                                    <div class="inner">
                                                        <div class="text">
                                                            <div class="category"><a href="donation-details.html"># Treatment</a></div>
                                                            <h3><a href="donation-details.html">Potable Water for Villages In Mozambique</a></h3>
                                                            <p>Indignation and dislike men who are like most beguiled demoralized.</p>
                                                        </div>
                                                        <ul class="info-box clearfix">
                                                            <li>
                                                                <i class="far fa-calendar-alt"></i>
                                                                <h5>Days</h5>
                                                                <p>28 Days Left</p>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-users"></i>
                                                                <h5>40+</h5>
                                                                <p>Suppoters</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="case-block-one">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="assets/images/case/case-2.jpg" alt=""></figure>
                                                <div class="lower-content">
                                                    <div class="shape" style="background-image: url(assets/images/shape/shape-11.png);"></div>
                                                    <div class="donate-amount clearfix">
                                                        <div class="amount-box">
                                                            <div class="icon-box"><i class="fas fa-dollar-sign"></i></div>
                                                            <h5>Charity Raised</h5>
                                                            <div class="price">$15,000 <span>/ $65,000</span></div>
                                                        </div>
                                                        <div class="percentage-box">
                                                            <div class="bar">
                                                                <div class="bar-inner count-bar" data-percent="24%"></div>
                                                            </div>
                                                            <div class="count-text">24%</div>
                                                        </div>
                                                    </div>
                                                    <div class="inner">
                                                        <div class="text">
                                                            <div class="category"><a href="donation-details.html"># Treatment</a></div>
                                                            <h3><a href="donation-details.html">Feed Nutritious Meals to a Poor Rural Child</a></h3>
                                                            <p>Blinded by desire that they cannot foresee the pain and trouble bound too.</p>
                                                        </div>
                                                        <ul class="info-box clearfix">
                                                            <li>
                                                                <i class="far fa-calendar-alt"></i>
                                                                <h5>Days</h5>
                                                                <p>45 Days Left</p>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-users"></i>
                                                                <h5>08+</h5>
                                                                <p>Suppoters</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="case-block-one">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="assets/images/case/case-3.jpg" alt=""></figure>
                                                <div class="lower-content">
                                                    <div class="shape" style="background-image: url(assets/images/shape/shape-11.png);"></div>
                                                    <div class="donate-amount clearfix">
                                                        <div class="amount-box">
                                                            <div class="icon-box"><i class="fas fa-dollar-sign"></i></div>
                                                            <h5>Charity Raised</h5>
                                                            <div class="price">$38,000 <span>/ $50,000</span></div>
                                                        </div>
                                                        <div class="percentage-box">
                                                            <div class="bar">
                                                                <div class="bar-inner count-bar" data-percent="76%"></div>
                                                            </div>
                                                            <div class="count-text">76%</div>
                                                        </div>
                                                    </div>
                                                    <div class="inner">
                                                        <div class="text">
                                                            <div class="category"><a href="donation-details.html"># Treatment</a></div>
                                                            <h3><a href="donation-details.html">Help Differently Abled Person to Feel Confident</a></h3>
                                                            <p>Equal blame belongs to those who fail in their duty through weakness.</p>
                                                        </div>
                                                        <ul class="info-box clearfix">
                                                            <li>
                                                                <i class="far fa-calendar-alt"></i>
                                                                <h5>Days</h5>
                                                                <p>60 Days Left</p>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-users"></i>
                                                                <h5>67+</h5>
                                                                <p>Suppoters</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab" id="tab-6">
                                    <div class="three-item-carousel owl-carousel owl-theme owl-dots-none">
                                        <div class="case-block-one">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="assets/images/case/case-1.jpg" alt=""></figure>
                                                <div class="lower-content">
                                                    <div class="shape" style="background-image: url(assets/images/shape/shape-11.png);"></div>
                                                    <div class="donate-amount clearfix">
                                                        <div class="amount-box">
                                                            <div class="icon-box"><i class="fas fa-dollar-sign"></i></div>
                                                            <h5>Charity Raised</h5>
                                                            <div class="price">$42,000 <span>/ $80,000</span></div>
                                                        </div>
                                                        <div class="percentage-box">
                                                            <div class="bar">
                                                                <div class="bar-inner count-bar" data-percent="53%"></div>
                                                            </div>
                                                            <div class="count-text">53%</div>
                                                        </div>
                                                    </div>
                                                    <div class="inner">
                                                        <div class="text">
                                                            <div class="category"><a href="donation-details.html"># Water & Environment</a></div>
                                                            <h3><a href="donation-details.html">Potable Water for Villages In Mozambique</a></h3>
                                                            <p>Indignation and dislike men who are like most beguiled demoralized.</p>
                                                        </div>
                                                        <ul class="info-box clearfix">
                                                            <li>
                                                                <i class="far fa-calendar-alt"></i>
                                                                <h5>Days</h5>
                                                                <p>28 Days Left</p>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-users"></i>
                                                                <h5>40+</h5>
                                                                <p>Suppoters</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="case-block-one">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="assets/images/case/case-2.jpg" alt=""></figure>
                                                <div class="lower-content">
                                                    <div class="shape" style="background-image: url(assets/images/shape/shape-11.png);"></div>
                                                    <div class="donate-amount clearfix">
                                                        <div class="amount-box">
                                                            <div class="icon-box"><i class="fas fa-dollar-sign"></i></div>
                                                            <h5>Charity Raised</h5>
                                                            <div class="price">$15,000 <span>/ $65,000</span></div>
                                                        </div>
                                                        <div class="percentage-box">
                                                            <div class="bar">
                                                                <div class="bar-inner count-bar" data-percent="24%"></div>
                                                            </div>
                                                            <div class="count-text">24%</div>
                                                        </div>
                                                    </div>
                                                    <div class="inner">
                                                        <div class="text">
                                                            <div class="category"><a href="donation-details.html"># Water & Environment</a></div>
                                                            <h3><a href="donation-details.html">Feed Nutritious Meals to a Poor Rural Child</a></h3>
                                                            <p>Blinded by desire that they cannot foresee the pain and trouble bound too.</p>
                                                        </div>
                                                        <ul class="info-box clearfix">
                                                            <li>
                                                                <i class="far fa-calendar-alt"></i>
                                                                <h5>Days</h5>
                                                                <p>45 Days Left</p>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-users"></i>
                                                                <h5>08+</h5>
                                                                <p>Suppoters</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="case-block-one">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="assets/images/case/case-3.jpg" alt=""></figure>
                                                <div class="lower-content">
                                                    <div class="shape" style="background-image: url(assets/images/shape/shape-11.png);"></div>
                                                    <div class="donate-amount clearfix">
                                                        <div class="amount-box">
                                                            <div class="icon-box"><i class="fas fa-dollar-sign"></i></div>
                                                            <h5>Charity Raised</h5>
                                                            <div class="price">$38,000 <span>/ $50,000</span></div>
                                                        </div>
                                                        <div class="percentage-box">
                                                            <div class="bar">
                                                                <div class="bar-inner count-bar" data-percent="76%"></div>
                                                            </div>
                                                            <div class="count-text">76%</div>
                                                        </div>
                                                    </div>
                                                    <div class="inner">
                                                        <div class="text">
                                                            <div class="category"><a href="donation-details.html"># Water & Environment</a></div>
                                                            <h3><a href="donation-details.html">Help Differently Abled Person to Feel Confident</a></h3>
                                                            <p>Equal blame belongs to those who fail in their duty through weakness.</p>
                                                        </div>
                                                        <ul class="info-box clearfix">
                                                            <li>
                                                                <i class="far fa-calendar-alt"></i>
                                                                <h5>Days</h5>
                                                                <p>60 Days Left</p>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-users"></i>
                                                                <h5>67+</h5>
                                                                <p>Suppoters</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- case-section end -->