@inherits UmbracoViewPage

        <!-- events-section -->
        <section class="events-section">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-17.png);"></div>
            <div class="bg-layer" style="background-image: url(assets/images/background/7.jpg);"></div>
            <div class="auto-container">
                <div class="inner-container">
                    <div class="shape" style="background-image: url(assets/images/shape/shape-18.png);"></div>
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                            <div class="content_block_2">
                                <div class="content-box">
                                    <div class="sec-title light">
                                        <span class="top-text">Our Recent Events</span>
                                        <h2>Here to Bring People Together</h2>
                                    </div>
                                    <div class="text">
                                        <p>The majority have suffered alteration all injected <br />gets humours randomises.</p>
                                        <a href="events.html" class="theme-btn btn-one">All events</a>
                                    </div>
                                    <div class="sponsors-inner">
                                        <h3>Event Sponsors:</h3>
                                        <div class="sponsors-carousel owl-carousel owl-theme owl-dots-none">
                                            <figure class="sponsors-logo"><a href="index.html"><img src="assets/images/clients/sponsors-1.png" alt=""></a></figure>
                                            <figure class="sponsors-logo"><a href="index.html"><img src="assets/images/clients/sponsors-2.png" alt=""></a></figure>
                                            <figure class="sponsors-logo"><a href="index.html"><img src="assets/images/clients/sponsors-3.png" alt=""></a></figure>
                                        </div>
                                        <h6><a href="index.html">Become a Sponsor</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 inner-column">
                            <div class="right-column">
                                <div class="events-block-one wow fadeInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <div class="inner-box">
                                        <div class="shape" style="background-image: url(assets/images/shape/shape-20.png);"></div>
                                        <figure class="image-box">
                                            <img src="assets/images/events/events-1.jpg" alt="">
                                            <h3>31<span>Feb</span></h3>
                                        </figure>
                                        <div class="inner">
                                            <ul class="info clearfix">
                                                <li><i class="far fa-clock"></i>11.30 am</li>
                                                <li><i class="far fa-map"></i>Newyork</li>
                                            </ul>
                                            <h3><a href="event-details.html">Royal Parks Half Marathon</a></h3>
                                            <div class="links"><a href="event-details.html">More Details</a></div>
                                            <div class="price"><h6>$180.00</h6></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="events-block-one wow fadeInRight animated" data-wow-delay="100ms" data-wow-duration="1500ms">
                                    <div class="inner-box">
                                        <div class="shape" style="background-image: url(assets/images/shape/shape-20.png);"></div>
                                        <figure class="image-box">
                                            <img src="assets/images/events/events-2.jpg" alt="">
                                            <h3>05<span>Mar</span></h3>
                                        </figure>
                                        <div class="inner">
                                            <ul class="info clearfix">
                                                <li><i class="far fa-clock"></i>10.00 am</li>
                                                <li><i class="far fa-map"></i>California</li>
                                            </ul>
                                            <h3><a href="event-details.html">Pure Hearts Virtual Brain Game</a></h3>
                                            <div class="links"><a href="event-details.html">More Details</a></div>
                                            <div class="price"><h6>For Free</h6></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="events-block-one wow fadeInRight animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                                    <div class="inner-box">
                                        <div class="shape" style="background-image: url(assets/images/shape/shape-20.png);"></div>
                                        <figure class="image-box">
                                            <img src="assets/images/events/events-3.jpg" alt="">
                                            <h3>22<span>Mar</span></h3>
                                        </figure>
                                        <div class="inner">
                                            <ul class="info clearfix">
                                                <li><i class="far fa-clock"></i>05.30 am</li>
                                                <li><i class="far fa-map"></i>Newyork</li>
                                            </ul>
                                            <h3><a href="event-details.html">USA Walks, Treks and Hikes</a></h3>
                                            <div class="links"><a href="event-details.html">More Details</a></div>
                                            <div class="price"><h6>$160.00</h6></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- events-section end -->