@inherits UmbracoViewPage<IFooterProperties>
    
<!-- main-footer -->
<section class="main-footer">
    <div class="footer-top">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget about-widget">
                        <div class="title-box">
                            <div class="icon-box"><i class="icon-hand"></i></div>
                            <span>Charity of Choice</span>
                            <h3>Partner With Us</h3>
                        </div>
                        <div class="text">
                            <p>Prevents our being able to do we like best, every pleasures is every pain avoided.</p>
                            <a href="index.html" class="theme-btn btn-one">Join With Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget links-widget ml-30">
                        <div class="widget-title">
                            <h3>Our Charity</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="links-list clearfix">
                                <li><a href="about.html">About Charity</a></li>
                                <li><a href="volunteer.html">Meet Our Volunteers</a></li>
                                <li><a href="events.html">Upcoming  Events</a></li>
                                <li><a href="blog.html">Blog & Articles</a></li>
                                <li><a href="donations.html">Our Causes</a></li>
                                <li><a href="contact.html">Get Touch With Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget links-widget ml-30">
                        <div class="widget-title">
                            <h3>For Donars</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="links-list clearfix">
                                <li><a href="index.html">Donate</a></li>
                                <li><a href="index.html">Donate Securities</a></li>
                                <li><a href="index.html">Fundraise</a></li>
                                <li><a href="index.html">Crisis Relief Centre</a></li>
                                <li><a href="index.html">Round Up to Give</a></li>
                                <li><a href="index.html">Refer a Friend</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget contact-widget ml-30">
                        <div class="title-box">
                            <div class="icon-box"><i class="icon-donation-2"></i></div>
                            <span>Pure Hearts</span>
                            <h3>Giving / Enquiry</h3>
                        </div>
                        <div class="widget-content">
                            <div class="single-item">
                                <h3><a href="tel:23345678901">(+233) 456-789-01</a></h3>
                                <p><a href="mailto:example@info.com">example@info.com</a></p>
                            </div>
                            <div class="single-item">
                                <h5>Charity Shop</h5>
                                <p>5404 Berrick Street, 2nd cross, Boston, MA 02115.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="inner-box clearfix">
                <div class="copyright pull-left">
                    <p>&copy; 2022 <a href="index.html">Pure Hearts,</a> All Rights Reserved.</p>
                </div>
                <ul class="footer-card pull-right clearfix">
                    <li><span>Ways to Donate:</span></li>
                    <li><a href="index.html"><img src="assets/images/resource/card-1.png" alt=""></a></li>
                    <li><a href="index.html"><img src="assets/images/resource/card-2.png" alt=""></a></li>
                    <li><a href="index.html"><img src="assets/images/resource/card-3.png" alt=""></a></li>
                    <li><a href="index.html"><img src="assets/images/resource/card-4.png" alt=""></a></li>
                    <li><a href="index.html"><img src="assets/images/resource/card-5.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- main-footer end -->