@inherits UmbracoViewPage
        <!-- main header -->
        <header class="main-header header-style-one">
            <!-- logo-box -->
            <div class="logo-box">
                <div class="shape" style="background-image: url(assets/images/shape/shape-1.png);"></div>
                <figure class="logo"><a href="index.html"><img src="assets/images/logo.png" alt=""></a></figure>
            </div>
            <!-- header-top -->
            <div class="header-top">
                <div class="outer-container">
                    <div class="top-inner clearfix">
                        <div class="left-column pull-left">
                            <ul class="info-list clearfix">
                                <li>
                                    <i class="icon-chat"></i>
                                    <span>Helpline:</span>
                                    <a href="tel:23345678901">+233 456 789 01</a>
                                </li>
                                <li>
                                    <a href="mailto:example@info.com">example@info.com</a>
                                </li>
                                <li>
                                    54 Berrick St Boston MA 02115. 
                                </li>
                            </ul>
                        </div>
                        <div class="right-column pull-right">
                            <div class="update-news">
                                <p><i class="icon-megaphone"></i><span>Updates:</span> Delivers Personal Protective Equipments to North Macedonia . . .</p>
                            </div>
                            <div class="language-box">
                                <span>En</span>
                                <ul class="language-list clearfix">
                                    <li><a href="index.html">English</a></li>
                                    <li><a href="index.html">Spanish</a></li>
                                    <li><a href="index.html">Chines</a></li>
                                    <li><a href="index.html">Turky</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- donate-btn -->
                <div class="donate-btn">
                    <button class="donate-box-btn theme-btn btn-one">Donate Now</button>
                </div>
            </div>
            <!-- header-lower -->
            <div class="header-lower">
                <div class="outer-container">
                    <div class="outer-box">
                        <div class="text">
                            <figure class="icon-box"><img src="assets/images/icons/heart-1.png" alt=""></figure>
                            <span>Become a Volunteer</span>
                        </div>
                        <div class="menu-area clearfix">
                            <!--Mobile Navigation Toggler-->
                            <div class="mobile-nav-toggler">
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                            </div>
                            <nav class="main-menu navbar-expand-md navbar-light">
                                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li class="current dropdown"><a href="index.html">Home</a>
                                            <ul>
                                                <li><a href="index.html">Home Page 01</a></li>
                                                <li><a href="index-2.html">Home Page 02</a></li>
                                                <li><a href="index-onepage.html">OnePage Home</a></li>
                                                <li><a href="index-rtl.html">RTL Home</a></li>
                                                <li class="dropdown"><a href="index.html">Header Style</a>
                                                    <ul>
                                                        <li><a href="index.html">Header Style 01</a></li>
                                                        <li><a href="index-2.html">Header Style 02</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="index.html">Pages</a>
                                            <ul>
                                                <li><a href="about.html">About Charity</a></li>
                                                <li><a href="volunteer.html">Become a Volunteer</a></li>
                                                <li><a href="comingsoon.html">Coming Soon</a></li>
                                                <li><a href="donate-page.html">Donate Us</a></li>
                                                <li><a href="faq.html">FAQ’s</a></li>
                                                <li><a href="error.html">404</a></li>
                                                <li class="dropdown"><a href="index.html">Portfolio</a>
                                                    <ul>
                                                        <li><a href="portfolio.html">2 Columns Grid</a></li>
                                                        <li><a href="portfolio-2.html">3 Columns Grid</a></li>
                                                        <li><a href="portfolio-3.html">4 Columns Grid</a></li>
                                                        <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li> 
                                        <li class="dropdown"><a href="index.html">Donations</a>
                                            <ul>
                                                <li><a href="donations.html">2 Columns Grid</a></li>
                                                <li><a href="donations-2.html">3 Columns Grid</a></li>
                                                <li><a href="donations-3.html">List View</a></li>
                                                <li><a href="donation-details.html">Donation Details</a></li>
                                            </ul>
                                        </li> 
                                        <li class="dropdown"><a href="index.html">Events</a>
                                            <ul>
                                                <li><a href="events.html">Grid View</a></li>
                                                <li><a href="events-2.html">List View</a></li>
                                                <li><a href="event-details.html">Detail Page</a></li>
                                            </ul>
                                        </li> 
                                        <li class="dropdown"><a href="index.html">Blog</a>
                                            <ul>
                                                <li><a href="blog.html">Grid View</a></li>
                                                <li><a href="blog-2.html">List View</a></li>
                                                <li><a href="blog-details.html">Single Post</a></li>
                                            </ul>
                                        </li> 
                                        <li class="dropdown"><a href="index.html">Shop</a>
                                            <ul>
                                                <li><a href="products.html">Our Products</a></li>
                                                <li><a href="product-details.html">Product Details</a></li>
                                                <li><a href="cart.html">Shopping Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="account.html">My Account</a></li>
                                            </ul>
                                        </li>   
                                        <li><a href="contact.html">Contact</a></li> 
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="nav-right-content clearfix">
                            <ul class="social-style-one clearfix">
                                <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="index.html"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="index.html"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                            <div class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-search"></i></button>
                                    <div class="dropdown-menu search-panel" aria-labelledby="dropdownMenu3">
                                        <div class="form-container">
                                            <form method="post" action="blog.html">
                                                <div class="form-group">
                                                    <input type="search" name="search-field" value="" placeholder="Search...." required="">
                                                    <button type="submit" class="search-btn"><span class="fas fa-search"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-box">
                                <a href="products.html"><i class="icon-shopping-bag"></i></a>
                            </div>
                            <div class="nav-btn nav-toggler navSidebar-button clearfix">
                                <i class="icon-menu"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--sticky Header-->
            <div class="sticky-header">
                <div class="auto-container">
                    <div class="outer-box">
                        <div class="menu-area clearfix">
                            <nav class="main-menu clearfix">
                                <!--Keep This Empty / Menu will come through Javascript-->
                            </nav>
                        </div>
                        <div class="nav-right-content clearfix">
                            <ul class="social-style-one clearfix">
                                <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="index.html"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="index.html"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                            <div class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-search"></i></button>
                                    <div class="dropdown-menu search-panel" aria-labelledby="dropdownMenu4">
                                        <div class="form-container">
                                            <form method="post" action="blog.html">
                                                <div class="form-group">
                                                    <input type="search" name="search-field" value="" placeholder="Search...." required="">
                                                    <button type="submit" class="search-btn"><span class="fas fa-search"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-box">
                                <a href="products.html"><i class="icon-shopping-bag"></i></a>
                            </div>
                            <div class="nav-btn nav-toggler navSidebar-button clearfix">
                                <i class="icon-menu"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- main-header end -->