@inherits UmbracoViewPage
        <!-- recent-case-section -->
        <section class="recent-case-section">
            <div class="bg-layer" style="background-image: url(assets/images/background/5.jpg);"></div>
            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-12.png);"></div>
            <div class="auto-container">
                <div class="inner-box">
                    <div class="shape" style="background-image: url(assets/images/shape/shape-21.png);"></div>
                    <div class="inner">
                        <div class="sec-title centred light">
                            <span class="top-text">Recent Donors</span>
                            <h2>Thousands of Donors Choose Pure Hearts <br />for High Impact Causes</h2>
                        </div>
                        <div class="single-item-carousel owl-carousel owl-theme owl-dots-none">
                            <div class="single-item">
                                <figure class="image-box"><img src="assets/images/resource/thumb-1.png" alt=""></figure>
                                <div class="text">
                                    <h3>Jasper Flelix, <span>Liverpool</span></h3>
                                    <h6>Donated $250</h6>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image-box"><img src="assets/images/resource/thumb-2.png" alt=""></figure>
                                <div class="text">
                                    <h3>Jasper Flelix, <span>Liverpool</span></h3>
                                    <h6>Donated $250</h6>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image-box"><img src="assets/images/resource/thumb-3.png" alt=""></figure>
                                <div class="text">
                                    <h3>Jasper Flelix, <span>Liverpool</span></h3>
                                    <h6>Donated $250</h6>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image-box"><img src="assets/images/resource/thumb-4.png" alt=""></figure>
                                <div class="text">
                                    <h3>Jasper Flelix, <span>Liverpool</span></h3>
                                    <h6>Donated $250</h6>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image-box"><img src="assets/images/resource/thumb-5.png" alt=""></figure>
                                <div class="text">
                                    <h3>Jasper Flelix, <span>Liverpool</span></h3>
                                    <h6>Donated $250</h6>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image-box"><img src="assets/images/resource/thumb-6.png" alt=""></figure>
                                <div class="text">
                                    <h3>Jasper Flelix, <span>Liverpool</span></h3>
                                    <h6>Donated $250</h6>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image-box"><img src="assets/images/resource/thumb-7.png" alt=""></figure>
                                <div class="text">
                                    <h3>Jasper Flelix, <span>Liverpool</span></h3>
                                    <h6>Donated $250</h6>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image-box"><img src="assets/images/resource/thumb-1.png" alt=""></figure>
                                <div class="text">
                                    <h3>Jasper Flelix, <span>Liverpool</span></h3>
                                    <h6>Donated $250</h6>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image-box"><img src="assets/images/resource/thumb-2.png" alt=""></figure>
                                <div class="text">
                                    <h3>Jasper Flelix, <span>Liverpool</span></h3>
                                    <h6>Donated $250</h6>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image-box"><img src="assets/images/resource/thumb-3.png" alt=""></figure>
                                <div class="text">
                                    <h3>Jasper Flelix, <span>Liverpool</span></h3>
                                    <h6>Donated $250</h6>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image-box"><img src="assets/images/resource/thumb-4.png" alt=""></figure>
                                <div class="text">
                                    <h3>Jasper Flelix, <span>Liverpool</span></h3>
                                    <h6>Donated $250</h6>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image-box"><img src="assets/images/resource/thumb-5.png" alt=""></figure>
                                <div class="text">
                                    <h3>Jasper Flelix, <span>Liverpool</span></h3>
                                    <h6>Donated $250</h6>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image-box"><img src="assets/images/resource/thumb-6.png" alt=""></figure>
                                <div class="text">
                                    <h3>Jasper Flelix, <span>Liverpool</span></h3>
                                    <h6>Donated $250</h6>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image-box"><img src="assets/images/resource/thumb-7.png" alt=""></figure>
                                <div class="text">
                                    <h3>Jasper Flelix, <span>Liverpool</span></h3>
                                    <h6>Donated $250</h6>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image-box"><img src="assets/images/resource/thumb-1.png" alt=""></figure>
                                <div class="text">
                                    <h3>Jasper Flelix, <span>Liverpool</span></h3>
                                    <h6>Donated $250</h6>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image-box"><img src="assets/images/resource/thumb-2.png" alt=""></figure>
                                <div class="text">
                                    <h3>Jasper Flelix, <span>Liverpool</span></h3>
                                    <h6>Donated $250</h6>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image-box"><img src="assets/images/resource/thumb-3.png" alt=""></figure>
                                <div class="text">
                                    <h3>Jasper Flelix, <span>Liverpool</span></h3>
                                    <h6>Donated $250</h6>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image-box"><img src="assets/images/resource/thumb-4.png" alt=""></figure>
                                <div class="text">
                                    <h3>Jasper Flelix, <span>Liverpool</span></h3>
                                    <h6>Donated $250</h6>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image-box"><img src="assets/images/resource/thumb-5.png" alt=""></figure>
                                <div class="text">
                                    <h3>Jasper Flelix, <span>Liverpool</span></h3>
                                    <h6>Donated $250</h6>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image-box"><img src="assets/images/resource/thumb-6.png" alt=""></figure>
                                <div class="text">
                                    <h3>Jasper Flelix, <span>Liverpool</span></h3>
                                    <h6>Donated $250</h6>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image-box"><img src="assets/images/resource/thumb-7.png" alt=""></figure>
                                <div class="text">
                                    <h3>Jasper Flelix, <span>Liverpool</span></h3>
                                    <h6>Donated $250</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- recent-case-section end -->