@inherits UmbracoViewPage
        <!-- urgent-case-section -->
        <section class="urgent-case-section" style="background-image: url(assets/images/background/1.jpg);">
            <div class="outer-container">
                <div class="inner-box clearfix">
                    <div class="single-block" style="background-image: url(assets/images/background/2.jpg);">
                        <div class="text">
                            <h3><i class="icon-tax-free"></i>Make the <br />Most Out of Tax Time</h3>
                            <p>Receive as much as 53% amount back tax-time.</p>
                            <ul class="list-style-one clearfix">
                                <li>Provincial tax incentives add up</li>
                                <li>Eliminate the capital gains tax</li>
                                <li>Consider carrying donations forward</li>
                            </ul>
                            <a href="index.html">More Details</a>
                        </div>
                    </div>
                    <div class="single-block" style="background-image: url(assets/images/background/3.jpg);">
                        <div class="text">
                            <h3><i class="icon-gift"></i>Give a <br />Charitable Gift Card</h3>
                            <p>You Choose the design, Value and your recipient.</p>
                            <ul class="list-style-one clearfix">
                                <li>Select your gift card</li>
                                <li>We deliver your card on the day</li>
                                <li>Make them happy for all occasion</li>
                            </ul>
                            <a href="index.html">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="col-xl-6 col-lg-12 col-md-12 offset-xl-6">
                            <div class="urgent-case-block">
                                <div class="upper-box" style="background-image: url(assets/images/background/4.jpg);">
                                    <div class="sec-title light">
                                        <span class="top-text">Urgent Cause</span>
                                        <h2>Syria: Millions of People doesn’t Eat All Day</h2>
                                    </div>
                                    <div class="text">
                                        <p>Passages of lorem ipsum available the majority have suffered alteration all form injected humours.</p>
                                    </div>
                                    <div class="timer">
                                        <div class="cs-countdown" data-countdown="06/24/2021 05:06:59"></div>
                                    </div>
                                </div>
                                <div class="lower-box">
                                    <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-7.png);"></div>
                                    <div class="donate-inner clearfix">
                                        <div class="pattern-layer-2" style="background-image: url(assets/images/shape/shape-8.png);"></div>
                                        <div class="amount-box">
                                            <div class="icon-box"><i class="fas fa-dollar-sign"></i></div>
                                            <h5>Charity Raised</h5>
                                            <div class="price">$42,000 <span>/ $80,000</span></div>
                                        </div>
                                        <div class="percentage-box">
                                            <div class="bar"></div>
                                            <h5>53%</h5>
                                        </div>
                                        <div class="btn-box">
                                            <button class="donate-box-btn">Donate Now</button>
                                        </div>
                                    </div>
                                    <ul class="info-box clearfix">
                                        <li>
                                            <i class="far fa-calendar-alt"></i>
                                            <h5>Days</h5>
                                            <p>28 Days Left</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-users"></i>
                                            <h5>40+</h5>
                                            <p>Suppoters</p>
                                        </li>
                                        <li class="share">
                                            <i class="fas fa-share-alt"></i>
                                            <h5><a href="index.html">Share</a></h5>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- urgent-case-section -->