@inherits UmbracoViewPage
        <!-- video-section -->
        <section class="video-section" style="background-image: url(assets/images/background/6.jpg);">
            <div class="auto-container">
                <div class="video-carousel owl-carousel owl-theme owl-dots-none">
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                            <figure class="image-box"><img src="assets/images/resource/video-1.jpg" alt=""></figure>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                            <div class="content-box">
                                <div class="sec-title light">
                                    <span class="top-text">Charity VideoTour</span>
                                    <h2>Social Art for Behaviour Change Approach</h2>
                                </div>
                                <div class="text">
                                    <p>Laborious physical exercise, except to obtain advantages from it but who has any right.</p>
                                </div>
                                <div class="video-btn">
                                    <div class="shape" style="background-image: url(assets/images/shape/shape-16.png);"></div>
                                    <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image" data-caption=""><i class="icon-play-arrow"></i>Play Video</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                            <figure class="image-box"><img src="assets/images/resource/video-2.jpg" alt=""></figure>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                            <div class="content-box">
                                <div class="sec-title light">
                                    <span class="top-text">Charity VideoTour</span>
                                    <h2>What Has Aid <br />Ever Done For Anyone?</h2>
                                </div>
                                <div class="text">
                                    <p>Find fault with a man who chooses to enjoy pleasure that has no annoying consequences.</p>
                                </div>
                                <div class="video-btn">
                                    <div class="shape" style="background-image: url(assets/images/shape/shape-16.png);"></div>
                                    <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image" data-caption=""><i class="icon-play-arrow"></i>Play Video</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                            <figure class="image-box"><img src="assets/images/resource/video-3.jpg" alt=""></figure>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                            <div class="content-box">
                                <div class="sec-title light">
                                    <span class="top-text">Charity VideoTour</span>
                                    <h2>Social Art for Behaviour Change Approach</h2>
                                </div>
                                <div class="text">
                                    <p>Laborious physical exercise, except to obtain advantages from it but who has any right.</p>
                                </div>
                                <div class="video-btn">
                                    <div class="shape" style="background-image: url(assets/images/shape/shape-16.png);"></div>
                                    <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image" data-caption=""><i class="icon-play-arrow"></i>Play Video</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- video-section end -->